@import url('https://fonts.googleapis.com/css?family=Tajawal:300,700');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,800&display=swap');
.grid_1 { width: 10.9090%;   /* 120px / 1100px  */ }
.grid_2 { width: 21.8181%;   /* 240px / 1100px  */ }
.grid_3 { width: 27.3%;   /* 350px / 1100px  */ }
.grid_4 { width: 38.776%;    /* 380px / 1100px  = 38.776% */ }
.grid_5 { width: 50.00%;     /* 550px / 1100px  = 50.000% */ }
.grid_6 { width: 59%;   /* 570px / 1100px  */ }
.grid_7 { width: 66.3265%;   /* 650px / 1100px  = 69.388% */ }
.grid_8 { width: 73%;    /* 780px / 1100px  = 79.592% */ }
.grid_9 { width: 85%;    /* 880px / 1100px  = 89.796% */ }
.grid_10 { width: 100%;    /* 1100px / 1100px   */ }

.container { 
	width: 100%; 
	max-width: 1100px; 
	padding: 0 20px;
	margin: auto; 
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; 
            z-index: 0;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10 {
/*	margin-right:2.041%;*/
	float: left;
	display: block;
}

body {
	font-weight: 200;
	font-family: 'Tajawal', sans-serif;
	line-height: 1.5em;
	font-size: 1.2em;
	max-width: 2000px; 
	width: 100%; 
	margin:0; padding:0;
}
.yesphone {
  display: none;
}

h1 {
	font-size: 2;
}

h1 span {
font-size:1em;
color:#173017;
font-family: 'Be Vietnam', sans-serif;
font-weight: 700;
text-shadow: 1px 1px 1px white;
}

h2{
    color: #34527d;
    font-family: 'Be Vietnam', sans-serif;
	text-shadow: 1px 1px 1px white;
	margin: 0!important;
}

h2 { font-size: 2em;   color:#173017;
text-shadow: 1px 1px 1.4px rgba(251,193,65,0.2);
 }

h3 {
	font-size:2.8em;
  line-height:60px;
  color:#173017;
    font-family: 'Be Vietnam', sans-serif;
	text-shadow: 1px 1px 1.4px #f9f9f9;
	margin: 0!important;
}
h4 {
  font-size:1.8em;
  line-height:60px;
  color:#173017;
    font-family: 'Be Vietnam', sans-serif;
  text-shadow: 1px 1px 1.4px #f9f9f9;
  margin: 0!important;
}

a {cursor: pointer;
color: #173017;}

.aside a {
  font-weight:300;
}
/**** Global ****/

header {
	background-color: #EFEFEF;
	height: auto;
	position: relative;
	z-index: 99;
	font-size: 1.2em;
}
.contatos {
  background-image: url(../images/fundo-colmeia.png);
  height:35px;
}
.contatos a {
 color:black;
   margin-top:10px;
   font-size: 0.7em;
   font-weight: 500;
     color:#173017;
    font-family: 'Be Vietnam', sans-serif
}
.contatos p, .contatos img {
  margin-top:0px;
}
.highlight {
	background: url(../images/home.jpg) no-repeat center center; 
	height: 750px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	  box-shadow: 4px 4px 7px rgba(0,0,0,0.3);
}


.highlight img { margin:0; }

.info-topo {
  float:right;
}

.home1 {
  position: relative;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 800;
  height:600px;
  background-image: url('../images/dona-beia-home1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home1 h3 {
  text-align: center;
  padding-bottom:6%;
  padding-top:6%;
  background-color:rgba(251,193,65,0.2);
}

.home-mel {
  position: relative;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 800;
  height:400px;
  background-image: url('../images/banner-mel.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-propolis {
  position: relative;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 800;
  height:400px;
  background-image: url('../images/banner-propolis.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-calendario {
  position: relative;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 800;
  height:400px;
  background-image: url('../images/banner-calendario.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.citacao {
    font-size: 1.4em !important;
    border-left: 2px solid #fcc440;
    padding-left: 30px;
    width: 90%;
    margin-bottom: 110px;
    line-height: 30px;
}
article {
/*	margin-top: 6.122%;*/

}
aside {background-color:rgba(255,255,255,0.8);padding-top:60px;position: 1;height:auto;}
.ods-img p {background-image: url(../images/fundo-aqua.png);padding:30px;}
footer {
  padding-top: 80px;
background:#d9d2b4;
text-align: center;
font-size:0.9em;
color:#173017;
  margin-top: -10px;
}
footer ul li { list-style: none; line-height: 30px;}
footer ul { display: inline-block; padding-left:0;}
.autor {
  padding-top: 80px;
background: #d9d2b4; /* Old browsers */
	text-align: center;
	font-size: 0.75em;
color:#173017;
}
.autor img {
	margin-left: -15px;
	margin-top:-2px;
}
#pulsar {
	-webkit-animation: pulse 1.5s infinite ease-in-out;
	animation: pulse 1.5s infinite ease-in-out;
}
/**** Animate ****/
*/.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s}@-webkit-keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(.755,.050,.855,.060);transition-timing-function:cubic-bezier(.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(.755,.050,.855,.060);transition-timing-function:cubic-bezier(.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}@keyframes bounce{0%,100%,20%,53%,80%{-webkit-transition-timing-function:cubic-bezier(.215,.61,.355,1);transition-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}40%,43%{-webkit-transition-timing-function:cubic-bezier(.755,.050,.855,.060);transition-timing-function:cubic-bezier(.755,.050,.855,.060);-webkit-transform:translate3d(0,-30px,0);-ms-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}70%{-webkit-transition-timing-function:cubic-bezier(.755,.050,.855,.060);transition-timing-function:cubic-bezier(.755,.050,.855,.060);-webkit-transform:translate3d(0,-15px,0);-ms-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);-ms-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}.bounce{-webkit-animation-name:bounce;animation-name:bounce;-webkit-transform-origin:center bottom;-ms-transform-origin:center bottom;transform-origin:center bottom}@-webkit-keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}@keyframes flash{0%,100%,50%{opacity:1}25%,75%{opacity:0}}.flash{-webkit-animation-name:flash;animation-name:flash}@-webkit-keyframes pulse{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}}@keyframes pulse{0%,100%{-webkit-transform:scale3d(1,1,1);-ms-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);-ms-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}@-webkit-keyframes rubberBand{0%,100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}

/**** Botões ****/

.link-bt {
	background-color: #682a68;
	padding: 10px 20px;
	color: #fff;
	border-radius: 20px;
	display: block;
	float: left;
}

.link-bt:hover {
	background-color: #361536;
	text-decoration: none;
}
.calend {
  padding-left:60px;
}
.calend-height {
  height:380px;
}
.calend-img {
  width:70%;
}
.top {
height:140px;
background-color:#d9d2b4;
text-align: right;
text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
font-size: 0.8em;
z-index: -1;
box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
.top a{
    color: #34527d;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.top-phone {
 display: inline-block;
}
#filme {
  position:relative;
  z-index:1;
  }
.interruptor { 
  position:relative; 
  z-index:2;
  display:block; 
  width:120px;
  height: 30px;
  margin-top: -7px;
  padding-top: 10px;
  }
#mascara {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
  background:#000;
  opacity:.75;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  z-index:2;
  }     
a.interruptor {
  font-size:13px;     font-family: 'Montserrat', sans-serif;
  color:#fff;
  background: #515a85;
  text-align:center;
  text-decoration: none!important;
  } 
a.apaga-acende {
  background:#ccc;
  color:#333;
  }
/*
Pure CSS modal box
Author: Jorge Chavez
Github: http://github.com/jorgechavz
*/

.wrap{
  width: 100%;
  margin: 0px auto;
  text-align: center;
}
.wrap h1{
  font-size: 70px;
}
.wrap h1 span{
  color: #F42A54;
}


.modal .checkbox{
  display: none;
}

/* Gray background */
.modal .modal-overlay{
  opacity: 0;
  transition: all 0.3s ease;
  width: 40%;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  transform: scale(1);
  display: none;
  background-color: rgba(241,241,242,0.8);
}

/* Box */
.modal .modal-wrap{
  background-color:#f1f1f2;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  padding: 40px 50px;
  width: 35%;
  margin: 20px auto;
  align-self: flex-start;
  border-radius: 2px;
  transition: all 0.5s ease;
}
.modal .modal-wrap.small{
  width: 30%;
}
.modal .modal-wrap.full{
  width: 100%;
  height: 100%;
}

.modal .modal-wrap.a-center {
  align-self: center;
}
.modal .modal-wrap.from-left {
  transform: translateX(-100%);
}
.modal .modal-wrap.from-right {
  transform: translateX(100%);
}
.modal .modal-wrap.from-top {
  transform: translateY(-100%);
}
.modal .modal-wrap.from-bottom {
  transform: translateY(100%);
}


/* Close button */
.modal .modal-overlay .close{
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 40px;
  width: 30px;
  height: 30px;
  color: #282c34;
}

.modal .modal-overlay .close:hover{
  cursor: pointer;
  color: #4b5361;
}


 .modal .o-close {
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   z-index: -100;
 }

.modal input:checked ~ .o-close {
  z-index: 9998;
}
.modal input:checked ~ .modal-overlay{
  transform: scale(1);
  opacity:1;
  z-index: 9997;
  overflow: auto;
  display: flex;
  animation-duration: 0.5s;
  animation-name: fade-in;
  -moz-animation-duration: 0.5s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: fade-in;
}
.modal input:checked ~ .modal-overlay .modal-wrap {
  transform: translateY(0);
  z-index: 9999;
}

/* Responsive Design */
/* Tablet size */
@media (max-width: 800px){
  .modal .modal-wrap {
    width: 80%;
    padding: 20px;
  }
}

/* Phone size */
@media (max-width: 500px){
  .modal .modal-wrap {
    width: 90%;
  }
}

/* Fadein from display:none */
@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    opacity: 0;
  }
  100% {
    display: flex;
    opacity: 1;
  }
}



.topo{ width:99.5%;position: relative;margin-top: 20px;} /*Essa aqui é a div que tem que ter a posição relativa para o seu menu*/
.topo strong{ display:none;}
#container{ width:100%; padding:0; transition:all 0.2s linear; }/*Essa aqui é a div que vai andar quando o menu for ativado */
#container.menu-on{ padding:0 0 0 260px;}

/*Configurações Padrões*/
ul.menu, .menu li, .menu a{ margin:0; padding:0; list-style:none; text-decoration:none;}
ul.menu ul{ position:absolute; display:none; box-shadow:3px 3px 2px #333;}

ul.menu .atendimento{
background-color:rgba(244,207,116,1);
 	color: black;
 	padding: 20px 10px 20px 10px;
 	width: 80%;
 	margin-top: -5px;
 	margin-left: 20px;
 	font-weight: 400;
 	box-shadow: 0px 0px 4px white;
  cursor: pointer;
transition: all 0.5s ease-out;
}
ul.menu .atendimento:hover {
transition: all 0.5s ease-out;
background-color:#fcc440;
  padding: 25px 10px 20px 10px;

}
.btn-atendimento {
  background-color:rgba(244,207,116,1);
  color: black;
  padding: 20px 30px 20px 30px;
  font-weight: 200;
  box-shadow: 0px 0px 4px white;
  cursor: pointer;
  font-family: 'Tajawal', sans-serif;
letter-spacing: 1px;
text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
transition: all 0.5s ease-out;
}
.btn-atendimento:hover {
background-color:#fcc440;
color: black;
padding: 25px 30px 25px 30px;
transition: all 0.5s ease-out;
}
.ods-img {
  margin:0 auto; 
  margin-top: 80px;
  margin-bottom: 80px;
} 
/* Configurações nivel 1*/
ul.menu{ 
	width: 100%;
	border-radius: 5px;
	height: 44px;
	vertical-align: middle;
  font-family: 'Tajawal', sans-serif;
  letter-spacing: 1px;
  font-size:0.91em;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  margin-left:5px;
  margin-top: 50px;
  color:#173017;
  }
.menu li{ float:left; text-align: center; width:20%;z-index: 99;}
.menu ul li { width: auto;  }
.menu li a{ display:block; padding:0 10px;line-height:40px; transition:all 0.1s linear; }

/* Configurações nivel 2*/
.menu li:hover > ul.submenu-1{ display: block; 
top: 1px;
padding: 5px;
width: 210px;
border-radius: 0 0 5px 5px;
text-shadow: none;
margin-left: 3%;
font-size: 0.9em;
font-weight: 400;
margin-top:30px;}
.menu ul.submenu-1 a{  width:190px; padding:0 10px; font-size: 0.9em; text-align: left;}

/* Configurações nivel 3*/
.menu li:hover > ul.submenu-2{ display:block; top:-15px;padding:5px; width:210px; height: auto; border-radius:0 0 5px 5px;text-shadow: none;margin-left: 96%;
font-size: 1em; font-weight: 400; min-height: 300px;}
.menu ul.submenu-2 a{  width:190px; padding:0 10px; font-size: 0.6em; text-align: left;}
/*Configurações de cores*/

/*nivel 1*/
.menu{ 	transition: 1s;}
.menu a{ color:#173017; }
.menu li:hover > a, .active{ background:#f9f9f9);  color:#396d39;text-decoration: none;}

/*nivel 2*/
.submenu-1{ background:#173017;}
.submenu-1 a{color:#e9e9e9; font-size: 0.9em;}
.submenu-1 li:hover > a{ background:rgba(255,255,255,0.5); color: #333333}
/*nivel 3*/
.submenu-2{ background:rgba(81,90,133,0.9);}
.submenu-2 a{color:#fff; font-size: 0.7em;}
.submenu-2 li:hover > a{ background:rgba(255,255,255,0.5); color: #333333}

@media only screen and (max-width:555px){
/*Configuração do nivel responsivo*/
.topo strong{ display:block; background:#515a85; float:left;color: #fefefe; padding:15px 15px 14px; font-family: 'asenineregular'; font-size:16px; margin:0px 0 0 15px; }

ul.menu{ width:270px; border-radius:0; padding:0; position:absolute; top:-16; left:-275px; margin-left: 0;  margin-top:0px;z-index:999;}	

.menu li{ width:100%; border-bottom: 1px solid;}	
.menu li a{ width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0;}
.menu li:hover > a{ background:none;}

ul.menu ul, .menu li:hover > ul.submenu-1{ display:block; position:relative; float:left; top:auto; left:auto; box-shadow:none; width:100%; padding:0;  box-sizing:border-box; -webkit-box-sizing:border-box; background:none; padding:0 0 20px 20px; }

.menu ul.submenu-1 li{ border:none;font-size: 1em;}
.menu ul.submenu-1 a{width:100%; border-left:1px solid #000; border-radius:0;}

.menu ul.submenu-2 li {
    width:100%; 
    font-size: 1.1em;
}

/*--Botão do Menu--*/
.topo i{cursor:pointer; display:block; width:20px; height:48px; float:left; padding:0 20px;margin-left: -140px; }
.topo i b{margin-top: 20px;}
.topo i b, .topo i b:before, .topo i b:after{cursor:pointer; height:4px; width:20px; position: absolute; display: block; content: '';  -webkit-transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47); transition: all 500ms cubic-bezier(0.615, 0.25, 0.505, 1.47);}
.topo i b:before{ top: -6px;}
.topo i b:after{bottom: -6px;}
 
 /*Configuração do botão do menu ativo*/
.menu-on .topo i b{background-color: transparent;}
.menu-on .topo i b:before, .menu-on .topo i b:after{top: 0;}
.menu-on .topo i b:before{ -webkit-transform: rotate(45deg) scale(1.2); -ms-transform: rotate(45deg) scale(1.2); transform: rotate(45deg) scale(1.2);}
.menu-on .topo i b:after{-webkit-transform: rotate(-45deg) scale(1.2); -ms-transform: rotate(-45deg) scale(1.2); transform: rotate(-45deg) scale(1.2);}


/*========= Configuração de Cores ==============================*/
/*Configura de cores do menu responsivo*/
.menu{background:#515a85; z-index: 9999;}
.menu li{border-color: #000; background:#d9d2b4;}
.menu li a, .menu li:hover > a{color:#173017;}
.menu ul.submenu-1 a{ border-color: #000; color:#173017}

/*Cor do botão do menu*/
.topo i{ background:#fcc440; height: 48px; margin-left: -59px; margin-top: -45px; z-index: 999999;}
.topo i b, .topo i b:before, .topo i b:after{ background:#fefefe;}
	
}
/**************************************************    VIDEO      ***************************/
video { 
    position: fixed;
    top: 22%;
    left: 50%;
    min-width: 100%;
    min-height: 50%;
    height: 110%;
    width: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-30%);
/*    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;*/
    background-size: cover;
    transition: 1s opacity;
    background-size: cover;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  background: rgba(0,0,0,0.3);
  width: 4%;
  margin:2rem;
  float: right;
  margin-top: -30px;
}

#polina button { 
  display: block;
  width: 20%;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  transition: .3s background;
  background-color: transparent;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

@media screen and (max-width: 500px) { 
  div{width:100%; text-align: justify;} 
}
@media screen and (max-device-width: 800px) {
  #bgvid { display: none; }
}

.hidden {
  display: none;
}
.video-abelha {
  height:500px;
}
.brasil-abelha {
  text-align:center;
  padding-top:80px;
  padding-bottom:80px;
background: #d9d2b4; /* Old browsers */
background: -moz-linear-gradient(top, #d9d2b4 1%, #e9e9e9 51%, #d9d2b4 100%, #d9d2b4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d2b4 1%,#e9e9e9 51%,#d9d2b4 100%,#d9d2b4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d9d2b4 1%,#e9e9e9 51%,#d9d2b4 100%,#d9d2b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d2b4', endColorstr='#d9d2b4',GradientType=0 ); /* IE6-9 */
}
.onde p {
  font-size:1em!important;
}
.onde {
  padding-bottom:80px;
}
/**** Conteúdo ****/

a {	text-decoration: none; }

a:hover, a:focus { text-decoration: underline; }

p, img { margin: 0 0; overflow: auto; }

img, object { max-width: 100%;height: auto; }

.logo img{ 
	margin-top:5px;
	width:65%;
  max-width:180px;
/*  box-shadow: 0px 1px 1px #fbc141;*/
}
.logo {
	float: left;
  margin-right: 0;
}
.highlight p { font-size: 1.125em;	margin: 0; }

.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; width: 100% } .embed-container iframe, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.breadcrumb {
  font-weight: 300;
}
.breadcrumb a {
  color: #34527d;
}
.formulario {
    font-family: 'Tajawal', sans-serif;
	margin-top: 300px;
	background-color: rgba(255,255,255,0.5);
	padding: 3%;
	margin-left: -71px;
}
.frase {
	width: 35%;
	height: 30px;
	color: #5D8F70;
	vertical-align: middle;
  font-family: 'Tajawal', sans-serif;
	margin-top: 280px;
	background-color: rgba(255,255,255,0.8);
	padding: 1%;
	padding-top: 2%;	
	font-weight: 400;
	font-size: 1.2em;
	text-align: justify;
	margin-left: -40px;s
}
.frase2 {
  width: 100%;
  height: auto;
  color: #5D8F70;
  vertical-align: middle;
  text-align: center;
  font-family: 'Tajawal', sans-serif;
  background-color: rgba(255,255,255,0.8);
  font-weight: 400;
  font-size: 1.2em;
  margin-top: -150px;
}
.frase2 h1 {
  text-shadow: 1px 1px 3px white;
}
.chamada {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,e9e9e9+51,ffffff+100,ffffff+100 */
background: #d9d2b4; /* Old browsers */
background: -moz-linear-gradient(top, #d9d2b4 1%, #e9e9e9 51%, #d9d2b4 100%, #d9d2b4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d9d2b4 1%,#e9e9e9 51%,#d9d2b4 100%,#d9d2b4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d9d2b4 1%,#e9e9e9 51%,#d9d2b4 100%,#d9d2b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d2b4', endColorstr='#d9d2b4',GradientType=0 ); /* IE6-9 */
	text-align: center;
	font-family: 'Tajawal', sans-serif;
  line-height: 30px;
	font-weight: 300;
	padding:5% 0 10% 0;
}	
.chamada span {
	font-size: 1.3em;
	color:#173017;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
	text-shadow: 1px 1px 1px white;
}
.chamada2 {
  padding-top: 70px;
  margin-top: -100px;
  background-image: url(images/fundo-aqua.png);
}
.texto {
    text-align: justify;
  font-family: 'Tajawal', sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  padding-top: 50px;
}
.galeria {
  margin-bottom: 150px;
}
.valor {
  position: relative;
  margin-top: -84px;
  padding: 10px 0 10px 10px;
  background-color: rgba(52,82,125,0.8);
  color: #f9f9f9;
  display: inline-block;
}
.section1 {
	background-image: url(../images/fundo-aqua.png);
	text-align: center;
	background-color: #fefefe;
	height:auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	font-weight: 200;
	font-family: 'Tajawal', sans-serif;
	box-shadow: -4px -4px 7px rgba(0,0,0,0.3), 4px 4px 7px rgba(0,0,0,0.3);
}


.ods-btn {
  text-align: center;
  margin-top: 50px;
}

.saiba {
  padding: 10px 20px 10px 20px;
  background-color: rgba(244,207,116,1);
  color: #34527d;
  transition: all 0.5s ease-out;
  border-color: transparent;
  font-size: 1em;
  cursor: pointer;
}
.saiba:hover {
transition: all 0.5s ease-out;
background-color: #fcc440;
  color: #576b07;
  text-decoration: none;
  transition: 0.3s linear;
}
.visita {
	margin-left:100px;

}
.botao {
	width:100%;
  transition: linear 0.2s;
	height: 60px;
  font-family: 'Tajawal', sans-serif;
	margin-top:00px;
	margin-bottom:30px;
    background-color:#173017;
  color:#f9f9f9;
	border: 1px solid #173017;
  font-weight: bold;
    padding: 20px 20px 20px 20px;
}
.botao a {
    color:#f9f9f9!important;
}
.btn-comprar {
  width:49%;
  height:40px;
  font-family: 'Tajawal', sans-serif;
  margin-top:30px;
  margin-bottom:30px;
  transition: linear 0.2s;
    background-color:#173017;
  color:#f9f9f9;
  border: 1px solid #173017;
  font-weight: bold;
  padding: 10px 10px 20px 20px;
}
.btn-comprar:hover, .botao:hover, .comprar:hover {
    transition: linear 0.2s;
  background-color: #fcc440;
  color:#173017;
  border: 1px solid #173017;

}
.comprar {
  background-color: #173017;
  color: #f9f9f9;
  width:100%;
  margin-top:50px;
  height:60px;
}
.btn-saiba {
  transition: linear 0.2s;
  width:49%;
  height:40px;
  font-family: 'Tajawal', sans-serif;
  margin-top:30px;
  margin-bottom:30px;
  background-color:#ECECEC;
  color:#173017;
  border: 1px solid #173017;
  font-weight: bold;
  padding: 10px 10px 20px 20px;
}
.btn-saiba:hover {
    transition: linear 0.2s;
  background-color: #fcc440;
  color:#173017;
  border: 1px solid #173017;

}

form button {
	width: 97%;
	height: 40px;
    font-family: 'Tajawal', sans-serif;
	margin-top:30px;
	background-color: #34527d;
	color: #fefefe;
	border: none;
}
.form-contat label {
	display: block;	
	margin-top: 10px;
	font-family: 'Tajawal', sans-serif;
	font-size: 1em;
}
.form-contato input[type="text"] {
	width: 97%;
	display: block;
  font-family: 'Tajawal', sans-serif;
	font-size: 0.9em;
  margin-bottom: 10px;
}
.form-contato textarea[type="text"] {
width: 93.7%;
display: inline-block;
line-height: 20px;
font-family: 'Tajawal', sans-serif;
font-size: 0.9em;
padding-left: 20px;
padding-top: 20px;
margin-left: -7px;
}
.form-contato label {
  margin-top: 10px;
}
.form-contato {
	padding:30px;
	background-color: #f1f1f2;
	border:1px solid #fcc440;
}
.bt {
  float: right;
  margin-top: -60px;
}
.fale-conosco h2{
	text-align: center;
	padding-bottom: 20px;
	margin-top: 80px;
}
.fale-conosco p {
	font-size: 1.1em;
	    font-family: 'Tajawal', sans-serif;
	    font-weight: 400;
}
.fb-page {
	margin-left: 100px;
width: 100%;
}

/***** ALERT BOX */
.success {
    background:#fcc440;
    border:1px solid #81ab8d;
    width:89.8%;
    padding:5%;
    margin:0 auto;
    margin-top:0px;
    margin-bottom: 0px;
    font-size: 1.2em!important;
    text-align: center;
    position:absolute;
}


/*NINJA SLIDER*/
#ninja-slider {
    width:86%;
    background:white;
    padding: 0px;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:black;
}

#ninja-slider div.fs-icon {
    top:10px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.3);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover div.fs-icon,
#ninja-slider.fullscreen div.fs-icon {
    opacity: 1;
}

#ninja-slider div.fs-icon::before {    
    content:"Tela Cheia";
    display:block;
}

#ninja-slider.fullscreen div.fs-icon::before {
    content:"FECHAR";
}

#ninja-slider .slider-inner {
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    width:100%;
    max-width:950px;
}

#ninja-slider ul {
    /*width:100%;*/

    /*overflow:hidden;*/
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
    touch-action:pan-y;
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}


/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.1);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/
    /*decorate border*/
    box-shadow: 0 1px 5px rgba(0,0,0,.8),inset 0 0 2px rgba(255,255,255,.4);
    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/* ---------If there are videos ------- */ 
#ninja-slider .video, .video-playbutton-layer 
{
    top:0; left:0; border:0;
    width: 100%;height: 100%;
    text-align: center;
    background: black;
    position: absolute;    
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
    background: transparent url(../css-img/video.png) no-repeat center center;
}

/* And if you have YouTube or Vimeo */
#ninja-slider div.stopVideoIcon 
{
    position:absolute;
    width:30px;height:30px;
    top:0;right:0px;
    margin:0 0 6px 6px;
    background:rgba(0,0,0,0.7);
    border-bottom-left-radius:4px;
    cursor:pointer;
}
#ninja-slider div.stopVideoIcon::before {
    content:"+";
    color:white;
    font:bold 30px/30px arial;
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
    display:block;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */   
#ninja-slider-pause-play { display:none;} 

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-28px;
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}
#ninja-slider-prev:hover, #ninja-slider-next:hover {
    opacity:1;
}

#ninja-slider.fullscreen #ninja-slider-prev:hover, #ninja-slider.fullscreen #ninja-slider-next:hover {
    width:90px;
}

#ninja-slider-prev {
    left: 0;
}

#ninja-slider-next {
    right: 0;
}

#ninja-slider.fullscreen #ninja-slider-prev {
    left: -50px; 
    opacity:1; 
}
#ninja-slider.fullscreen #ninja-slider-next {
    right: -50px;
    opacity:1; 
}

/*pagination within the prev/next buttons*/
#ninja-slider-prev div {opacity:0;margin-left:30px;transition:opacity 0.7s;}
#ninja-slider-next div {opacity:0;margin-right:30px;transition:opacity 0.7s;}
#ninja-slider.fullscreen #ninja-slider-prev:hover div {opacity:1;}
#ninja-slider.fullscreen #ninja-slider-next:hover div {opacity:1;}
/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    backface-visibility:hidden;
    left:14px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    backface-visibility:hidden;
    right:14px;
}



/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */

#ninja-slider-pager { display:none;}
   

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}







@media screen and (max-width: 768px) and (min-width: 640px) {

	.notablet { display: none; }
	header .grid_1 { width: 15%; margin: 5% 5% 5% 17.5%!important; }
	header .grid_3 { width: 45%; margin: 6% 17.5% 5% 0!important; }
	.logo { margin: 0; }
	header .grid_6 { width: 100%; border-top: 1px solid #333; margin-bottom: 5%; }
	h1 { font-size: 3.5em; }
	nav li { width: 25%!important; text-align: center; margin-top: 5%; }
	h3 { font-size: 1.5em; }
	.highlight .grid_7 { width: 100%; margin-right: 0; }

}

@media screen and (max-width: 640px) {

	.nophone { display: none; }
  .yesphone { display: block;}
	header .grid_1 { width: 35%;  }
	header .grid_3 { width: 45%; margin-top: 5%!important;}
  header .grid_6 { width: 100%; margin: 0; }
  aside { margin-top: -140px!important;}
  .grid_5 { width: 100%; margin: 0; }
	.grid_7 { width: 100%; margin: 0; }
  .top .grid_2 {width: 100%;}
  .contatos .grid_2 {width: 100%;}
	.grid_3 { width:94%; }
	.certificado-aqua .grid_7 {
		width: 100%;
	}
	.face {
		margin-bottom: 40px;
		margin-left: -80px;
	}
	.form-contato input[type="text"] {
    width: 95%;
  }
  .form-contato textarea[type="text"] {
    width: 89.7%;
    margin-left: 0px;
  }
	 #nav.closed {
		display: none;
	}
.skdslider {
    height: 300px;
    max-width: 100%;
}
	#menu {
		display: block;
		float: right;
		width: 8%;
    margin-top: -110px;
	}

	#menu img {
		margin-top: 105%;
	}

	nav li { 
		width: 100%!important; 
		margin: 0!important; 
		text-align: left;
	}

	nav li a {
		padding: 5px 0 5px 15px;
		border-top: 1px solid #333;
		display: block;
		font-size: 1em;
	}

	nav li a:hover,
	nav li a:focus {
		text-decoration: none;
		background-color: #333;
	}
  h1,   h2 { font-size:1.8em;text-align: center; line-height: 33px; }
	h3 { font-size: 2em; }
	#main .grid_6,
	#main .grid_4,
	footer .grid_8,
	footer .grid_2 { width: 100%; }
	footer .grid_8 { text-align: center; }

	footer .fright { float: none; overflow: auto; margin-top: 1em; text-align: center; }

	footer a {
		float: none;
		display: inline-block!important;
	}

	footer a.fb { 
		margin-right: 10px; 
	}
	.logo img {
	    margin-top:00px;
      margin-left: 23%;
	}
	.topo i {
	    margin-left:0px;
	}
	.skdslider {
	    height: 330px;
	}
	.formulario {
		width: 94%;
		margin-top: 200px;
		padding: 3%;
		margin-left: 10px;
	}
.form-contato {
  padding:30px;
  background-color: #f9f9f9;
  border:1px solid gray;
}
.brasil-abelha { 
padding-bottom:160px;
}
.whats {
    bottom: 20px;
    right: 0px;
    float: right;
    width: 31%;
}
.info-topo {
  float:none;text-align:center;
}
.contatos {
  height:80px;
  text-align:center;
}
form button {
width: 92%;
height: 40px;
font-family: 'Tajawal', sans-serif;
margin-top:30px;
background-color: #34527d;
color: #fefefe;
border: none;
}
.highlight {
background: url(../images/home-cel.jpg) no-repeat center center; 
height: 600px;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.owl-carousel {
margin-left: -20px;
width: 110%;
}
.saiba {
margin-right: 0px;
margin-bottom: 0px;
margin-top: 20px!important;
}
.chamada p span {
text-align:center!important;
}

.chamada {
padding-top:40px;
/*padding-bottom: 55%;*/
}
.baixo {
  margin-bottom:50%;
}
.calend {
  padding-left:0px;
}
.calend-height {
  height:auto;
}
.calend-img {
  width:100%;
}
.calend-bottom {
  margin-bottom: 50px;
  width:100%;
}
.calend-bottom p{
  text-align: center!important;
}
.breadcrumb {
margin-top: 40px;
}


}

@media screen and (max-width: 480px) {

	h3 { font-size: 1.65em; }
	nav a { font-size: 1.5em; }

}